---
layout: null
title: "Página Inicial"
---

<!-- se a class ou id ou name tive mais de uma palavra use "-" para separar uma da outra e todas em letra minuscula -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Valter Barros</title>
  <meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" /> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <!-- Facebook Pixel Code -->
  <script defer>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '486065615285591');
    fbq('track', 'PageView');
  </script>
  <script defer>
    fbq('track', 'ViewContent');
  </script>
  <noscript defer><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=486065615285591&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  <meta property="og:title" content="Valter Barros" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://valterbarros.com" />
  <meta property="og:image" content="https://valterbarros.com/assets/images/eu-98794984-bfc.jpg" />
  {% include head-custom-google-analytics.html %}
</head>

<body>
  <section class="box-intro">
    <div class="main-section">
      <div class="main-image">
        <img class="main-presentation-photo" src="assets/images/eu-98794984-bfc.jpg" alt="It's me.">
      </div>

      <div class="main-description">
        <h1 id="header-title">Valter Barros</h1>
        <h2 id="subtitle">Web Developer</h2>
        <p style="color: black;">
          Graduated from system analysis every day trying improve my skills with programing, english, and communication with others. Currently working at <a href="https://clicksign.com">clicksign.com </a> as frontend developer.
          You can know more about here <a href="articles/"><strong>/articles</strong></a>
        </p>
      </div>
    </div>
  </section>

  <section class="section-experiences">
    <div class="container">
      <h2 class="text-center">Work History</h2>  
      <div class="experiences-list">
        <div class="experience-item">
          <strong class="experience-title">Frontend Developer</strong>
          <p class="experience-subtitle">Clicksign / Remote / April 2022 - Present</p>
          <p> Vuejs developer, unit tests and architecture. </p>
        </div>
        <div class="experience-item">
          <strong class="experience-title">Frontend Developer</strong>
          <p class="experience-subtitle">Tidy / Remote / August 2019 - 2021</p>
          <p> Working with Angular, and ionic to create client mobile apps to be used to serve cleaning services and to ask for a service. </p>
        </div>

        <div class="experience-item">
          <strong class="experience-title">Fullstack Developer</strong>
          <p class="experience-subtitle">Stant / Maceió, Alagoas / 2017 - 2019</p>
          <p> Working with Ruby on Rails, JavaScript, vuejs, css, html solving different problems every day and trying to help my team in what I could. </p>
        </div>

        <div class="experience-item">
          <strong class="experience-title">Academic</strong>
          <p class="experience-subtitle">FAT-AL / Maceió, Alagoas / 2016 - 2017</p>
          <p> Here was where I knew ruby language and after rails framework I study hard about technology to create
            <a target="_blank" title="Classgame github repository" href="https://github.com/classgame/classgame"> ClassGame </a>
            that is a course platform.
          </p>
        </div>
      </div>
    </div>
  </section> 

  <section class="section-education">
    <div class="container">
      <h2 class="text-center">Education</h2>  
      <div class="education-list">
        <div class="education-item">
          <strong>Systems Analysis</strong>
          <p class="education-subtitle">FAT-AL / Maceió, Alagoas / 2014 - 2017</p>
          <p> In that course I start with programming and got loved for that. I learned the base of code like algorithms, math, logic, databases, network, entrepreneurship. Since this, I have been learning a bunch of things. </p>
        </div>
      </div>
    </div>
  </section> 
  
  <section class="section-skills container">
    <div class="container">
      <div class="row">
        <h2 class="text-center">Skills</h2>
        <div class="col-md-6">
          <h4>Languages:</h4> 
          <div class="row">
            <div class="col-sm-4 col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <p style="color:black">Portuguese</p>
                </div>
                <div class="col-md-6">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <p style="color:black">English, speak</p>
                </div>
                <div class="col-md-6">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <p style="color:black">English, read</p>
                </div>
                <div class="col-md-6">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>    
        <div class="col-md-6">
          <h4>Knowledge:</h4>

          <div class="skill-icon rails" title="Ruby on Rails framework"></div>
          <div class="skill-icon ruby" title="Ruby">
            <img style="width: 100%" src="assets/images/ruby-logo.png" alt="ruby logo">
          </div>
          <div class="skill-icon angular" title="Angular">
          </div>
          <div class="skill-icon ionic">
            <img src="assets/images/ionic.svg" alt="ionic logo">
          </div>
          <div class="skill-icon javascript" title="Javascript"></div>
          <div class="skill-icon jquery" title="Jquery">
            <img style="width: 100%" src="assets/images/jquery-logo.png" alt="jquery logo">
          </div>
          <div class="skill-icon html5" title="HTML5"></div>
          <div class="skill-icon css3" title="CSS3"></div>
          <div class="skill-icon github" title="Github"></div>
          <!-- <div class="skill-icon git" title="Git">
              <img style="width: 100%" src="assets/images/git-logo.jpeg" alt="git logo">
          </div> -->
          <div class="skill-icon trello" title="Trello"></div>
          <div class="skill-icon vue" title="Vue">
            <img style="width: 100%" src="assets/images/vuejslogo.png" alt="vuejs logo">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {% include contact.html %}

  <footer id="footer" class="footer-page">
    <div class="content-footer">
      <ul class="copyright">
        <li><p>made by valter barros</p></li>
        <li class="fa fa-phone-square" aria-hidden="true"><span href="#">+55 82 9 9687 5791</span></li>
      </ul>
    </div>
  </footer>
</body>

</html>
