<section class="section-informations">
	<h2 class="text-center">Contact</h2>
	<h5 class="text-center description">Send an e-mail I'll be glad to talk about projects and ideas. <a href="mailto:valterinside@gmail.com">valterinside@gmail.com</a> </h5>
	<ul class="icons text-center">
		<li>
		<a href="https://twitter.com/bluevalter" target="_blank" class="social-btn icon fa fa-twitter"></a>
		</li>
		<li>
		<a href="https://www.facebook.com/valterbarrosjunior" target="_blank" class="social-btn icon fa fa-facebook-square"></a>
		</li>
		<li>
		<a href="https://github.com/valterbarros" target="_blank" class="social-btn icon fa fa-github"></a>
		</li>
		<li>
		<a href="https://www.linkedin.com/in/valter-barros-827079128?trk=nav_responsive_tab_profile" target="_blank" class="social-btn icon fa fa-linkedin"></a>
		</li>
	</ul>
</section>
