{% include head-custom-google-analytics.html %}

<link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | relative_url }}">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👾</text></svg>">

{% if page.home_portfolio %}
<link rel="stylesheet" href="{{ '/assets/css/home-hacker.css' | relative_url }}">
<script defer>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '486065615285591');
  fbq('track', 'PageView');
</script>
<script defer>fbq('track', 'ViewContent');</script>
<noscript><img height="1" width="1" style="display:none" alt=""
  src="https://www.facebook.com/tr?id=486065615285591&ev=PageView&noscript=1"
/></noscript>
{% endif %}
