---
layout: default
---

<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
<style>
  #cusdis_thread iframe {
    height: 350px;
  }
</style>

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="57781c84-d1e2-4244-88ea-e05983bcf223"
  data-page-id="{{ page.id }}"
  data-page-url="{{ site.url }}{{ page.baseurl }}{{ page.url }}"
  data-page-title="{{ page.title }}"
  data-theme="dark"
></div>
