---
layout: default
---

<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
<style>
  #cusdis_thread iframe {
    height: 370px;
  }
</style>

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

<hr>

<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="57781c84-d1e2-4244-88ea-e05983bcf223"
  data-page-id="{{ page.id }}"
  data-page-url="{{ site.url }}{{ page.baseurl }}{{ page.url }}"
  data-page-title="{{ page.title }}"
  data-theme="dark"
></div>

<script>
const observer = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
        if (mutation.addedNodes.length == 0) return;
        const iframe = mutation.addedNodes[0];
        if (iframe.tagName !== 'IFRAME') return;

        const additionalStyles = `
        .dark {
          background: #1b1b1b;
          padding: 20px;
        }
        html {
          background: #1b1b1b;
        }
        `;
        
        iframe.srcdoc = iframe.srcdoc.replace('</style>', additionalStyles + '</style>');
    });
});
observer.observe(document.getElementById("cusdis_thread"), { childList: true, subtree: true });
</script>
{% include contact.html %}